$white: #ffffff;
$black: #000000;
$borderColor: rgba(255, 255, 255, 0.3);

.menuBackground {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $black;
  opacity: 0.3;
}
.menuHide {
  position: fixed;
  left: -365px;
  top: 0;
  bottom: 0;
  background-color: $black;
  animation-name: hideMenu;
  animation-duration: 0.5s;
}
.menuShow {
  left: 0;
  animation-name: showMenu;
  animation-duration: 0.5s;
}
@keyframes showMenu {
  0% {
    left: -365px;
  }
  100% {
    left: 0;
  }
}

@keyframes hideMenu {
  0% {
    left: 0;
  }
  100% {
    left: -365px;
  }
}
.closeHide {
  position: fixed;
  top: 90px;
  left: 0;
  cursor: pointer;
  animation-name: hideClose;
  animation-duration: 0.5s;
}
.closeShow {
  top: 90px;
  left: 365px;
  animation-name: showClose;
  animation-duration: 0.5s;
}
@keyframes showClose {
  0% {
    left: 0;
  }
  100% {
    left: 365px;
  }
}

@keyframes hideClose {
  0% {
    left: 365px;
  }
  100% {
    left: 0;
  }
}
.links {
  margin: 95px;
}
.link {
  font-size: 24px;
  color: $white;
}
.link:hover {
  color: $white !important;
  opacity: 0.9;
}
.logOut {
  font-size: 20px;
  color: $white;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  cursor: pointer;
}

@media only screen and (orientation: landscape) {
  .links {
    overflow: auto;
    padding-top: 80px;
  }
}
