$white: #ffffff;
$black: #000000;
$borderColor: rgba(255, 255, 255, 0.3);

.menuBackground {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $black;
  opacity: 0.3;
}
.menuHide {
  position: fixed;
  right: -365px;
  top: 0;
  bottom: 0;
  background-color: $black;
  animation-name: hideMenu;
  animation-duration: 0.5s;
}
.menuShow {
  right: 0;
  animation-name: showMenu;
  animation-duration: 0.5s;
}
@keyframes showMenu {
  0% {
    right: -365px;
  }
  100% {
    right: 0;
  }
}

@keyframes hideMenu {
  0% {
    right: 0;
  }
  100% {
    right: -365px;
  }
}
.closeHide {
  position: fixed;
  top: 20px;
  right: -365px;
  cursor: pointer;
  animation-name: hideClose;
  animation-duration: 0.5s;
}
.closeShow {
  right: 20px;
  animation-name: showClose;
  animation-duration: 0.5s;
}
@keyframes showClose {
  0% {
    right: -365px;
  }
  100% {
    right: 20;
  }
}

@keyframes hideClose {
  0% {
    right: 20;
  }
  100% {
    right: -365px;
  }
}
.links {
  margin: 10vh;
}
.link {
  font-size: 30px;
  color: $white;
}
.link:hover {
  color: $white !important;
  opacity: 0.9;
}
.logOut {
  font-size: 20px;
  color: $white;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  cursor: pointer;
}
