.MovingButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  border: 2px solid white;
  background: white;
  border-radius: 2px;
  animation: pulse 1.5s ease-in infinite;
  position: relative;
  z-index: 1002;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.addClassMove {
  animation: moveLeft 0.5s linear;
}
@keyframes moveLeft {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(90px);
  }
}
.MovingMask {
  width: 10px;
  background: #03fc77;
  position: relative;
  z-index: 1001;
}
.addMoveMask {
  animation: unmask 0.6s linear;
}
@keyframes unmask {
  0% {
    padding-right: 90px;
    margin-left: 0;
  }
  80% {
    padding-right: 0px;
    margin-left: 90px;
  }
}
.GoButton {
  display: flex;
  color: white;
  height: 92px;
  width: 24px;
  position: absolute;
  top: 0;
  border-top: transparent;
  border-radius: 0 0 10px 0;
  align-items: flex-end;
  justify-content: center;
  color: darkslategrey;
  &:focus {
    outline: none;
  }
  &:hover {
    color: #000000;
  }
}
.GoButtonUpUp {
  display: flex;
  color: white;
  background: #3c69e7;
  height: 25px;
  width: 20px;
  position: absolute;
  z-index: 1005;
  top: 0px;
  left: 20px;
  border-top: transparent;
  border-radius: 0 0 10px 0;
  align-items: flex-end;
  justify-content: center;
  &:focus {
    outline: none;
  }
  &:hover {
    color: #eee;
  }
}
.GoButtonUp {
  display: flex;
  color: darkslategray;
  background: #fafa37;
  height: 72px;
  width: 25px;
  position: absolute;
  z-index: 1004;
  top: 0px;
  left: 10px;
  border-top: transparent;
  border-radius: 0 0 10px 0;
  align-items: flex-end;
  justify-content: center;
  &:focus {
    outline: none;
  }
  &:hover {
    color: black;
  }
}
.GoButtonDown {
  display: flex;
  color: white;
  height: 110px;
  width: 30px;
  position: absolute;
  top: 0;
  background: #ef3054;
  border-top: transparent;
  border-radius: 0 0 10px 0;
  align-items: flex-end;
  justify-content: center;
  &:focus {
    outline: none;
  }
  &:hover {
    color: #eee;
  }
}
.navContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  //   flex-direction: column;
}
.navContainer > div {
  display: flex;
  width: 33.33%;
  justify-content: center;
  padding-right: 80px;
  //   align-items: center;
}

.Title {
  color: white;
}
.Title > a:hover,
.Title > a:visited,
.Title > a:focus {
  color: #daf7a6;
}
.menuAndMoveButton {
  display: flex;
  justify-content: flex-start;
  width: 80px;
}
.titleAndGoButton {
  display: flex;
  justify-content: space-around;
  width: 33%;
}

.subNavContainer {
  display: flex;
  justify-content: space-around;
}
.titleModif {
  width: 56px;
  height: 48px;
  margin-left: -50%;
}
.userIcon {
  margin: 0 38px 0 0;
}
.userIcon a {
  color: black;
}
.menuIcon {
  position: absolute;
  margin-left: 130px;
}

.menuIcon2 > i {
  position: absolute;
  margin-left: 130px;
}

@media (max-width: 600px) {
  .navContainer > div {
    padding-right: 0;
  }
  .titleModif {
    margin-left: -120%;
  }
  .menuIcon {
    margin-left: 100px;
  }
  .menuIcon2 {
    margin-left: 100px;
  }
  .userIcon {
    margin: 0 15px 0 20px;
  }
}
