* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
$primaryColor: #03fc77;
$accentColor: white;
$lightColor: #cccccc;
.test {
  background-color: red;
}

.Header {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 64px;
}

.Header2 {
  position: fixed;
  z-index: 10;
  width: 100vw;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
body a {
  text-decoration: none !important;
}
html {
  overflow-x: hidden;
}
nav {
  height: 64px;
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1000;
  background: $primaryColor;
}
.navMain {
  background: $primaryColor;
  position: relative;
  z-index: 1000;
}
.navMain {
  background: darken(rgb(217, 217, 217), 5%);
  position: relative;
  z-index: 1000;
}
.middleMenu {
  width: 45%;
  display: flex;
}
.leftMenu {
  margin-left: 1%;
  width: 19%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.SiteTitle {
  text-decoration: none;
  margin-left: 10%;
  color: $accentColor;
}
.SiteTitle2 {
  color: $primaryColor;
}
.hamburger {
  width: 30px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upLine,
.middleLine,
.downLine {
  display: flex;
  width: 100%;
  height: 3px;
  margin: 3px;
}

.upLeft {
  display: flex;
  background: $accentColor;
  width: 20%;
  height: 3px;
  justify-content: center;
  align-items: center;
}
.upRight {
  display: flex;
  background: $accentColor;
  width: 60%;
  height: 3px;
  justify-content: center;
  align-items: center;
}

.upMiddle {
  width: 20%;
  height: 3px;
  justify-content: center;
  align-items: center;
  display: flex;
}
@keyframes startAnimLeft {
  0% {
    width: 20%;
  }
  100% {
    width: 60%;
  }
}

@keyframes startAnimRight {
  0% {
    width: 60%;
  }
  100% {
    width: 20%;
  }
}

@keyframes startAnim2Left {
  0% {
    width: 60%;
  }
  100% {
    width: 20%;
  }
}
@keyframes startAnim2Right {
  0% {
    width: 20%;
  }
  100% {
    width: 60%;
  }
}

.upLeftAnim {
  animation: startAnimLeft 0.7s linear forwards;
}
.upRightAnim {
  animation: startAnimRight 0.7s linear forwards;
}
.middleLeftAnim {
  animation: startAnim2Left 0.7s linear forwards;
}
.middleRightAnim {
  animation: startAnim2Right 0.7s linear forwards;
}
.middleLeft {
  display: flex;
  background: $accentColor;
  width: 60%;
  height: 3px;
  justify-content: center;
  align-items: center;
}
.middleRight {
  display: flex;
  background: $accentColor;
  width: 20%;
  height: 3px;
  justify-content: center;
  align-items: center;
}
.middleMiddle {
  width: 20%;
  height: 3px;
  justify-content: center;
  align-items: center;
  display: flex;
  background: red;
}
.rightMenu {
  margin-right: 1%;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
// ul {
//   display: flex;
//   color: #d9d9d9;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   margin: 0;
// }
// ul li {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   height: 30px;
// }
ul div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
}

.Link {
  text-decoration: none;
  color: #d9d9d9;
  &:hover {
    color: beige;
  }
}
.Link2 {
  color: #272727;
  &:hover {
    color: $primaryColor;
  }
}
.active {
  color: $primaryColor;
  font-weight: 400;
}
.active2 {
  color: $accentColor;
  font-weight: 400;
}
.Button {
  cursor: pointer;
  height: 30px;
  margin: 0 20px 0 20px;
  padding: 5px;
  background: #d9d9d9;
  color: #252525;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}
.Button:hover {
  background: lighten(#d9d9d9, 10%);
}
.Button2 {
  cursor: pointer;
  background: #252525;
  color: #d9d9d9;
  border: 1px solid $primaryColor;
}
.Button2:hover {
  background: darken(#252525, 10%);
}
.light {
  background: rgba(38, 41, 44, 1);
  background: linear-gradient(
    140deg,
    rgba(38, 41, 44, 1) 10%,
    rgba(217, 217, 217, 1) 300%
  );
  color: rgb(217, 217, 217);
  min-height: 90vh;
}
a,
a:active,
a:visited,
a:focus {
  color: #ffffff;
}
.light a,
.light a:active,
.light a:visited,
.light a:focus {
  color: rgb(217, 217, 217);
}

.dark {
  background: #ffffff;
  background: linear-gradient(270deg, #ffffff 5%, #fff67b 100%);
  color: rgba(38, 41, 44, 1);
  min-height: 90vh;
}
.dark a,
.dark a:active,
.dark a:visited,
.dark a:focus {
  color: #26292c;
}
.dark a:hover {
  color: black;
}
.light a:hover {
  color: white;
}
.navUl {
  background: lighten(rgba(38, 41, 44, 1), 7%);
}
.navUl2 {
  background: darken(rgb(217, 217, 217), 7%);
}
.wrapper {
  background: $primaryColor;
  position: relative;
}
.Img {
  width: 60vw;
  margin: auto;
  opacity: 0.1;
}
.wrapper h1 {
  position: fixed;
  top: 50vh;
  left: 40vw;
  color: white;
}
.Footer {
  padding: 10px 20px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80px;
  background: $primaryColor;
  margin-top: 240px;
}
.Footer p {
  text-align: center;
  color: beige;
  margin: auto;
}
.Footer2 {
  background: $lightColor;
}
.Footer2 p {
  color: #252525;
}
.Signature,
.Signature strong,
.Signature span {
  text-decoration: none;
  color: beige;
  &:hover {
    color: white;
  }
}
.Signature2,
.Signature2 strong,
.Signature2 span {
  color: #252525;
  &:hover {
    color: black;
  }
}
.HomeFace {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburgerBig {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 230px;
  height: 330px;
  flex-direction: column;
}
.hamburgerBig > div > div {
  height: 10px;
}
.marginTop {
  margin-top: 40px;
}
.smallNav {
  display: none;
  width: 270px;
}
.smallNav ul {
  display: flex;
  flex-direction: column;
  width: 115px;
  border-radius: 0 0 10px 0;
}

.smallNav ul li {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.smallNav ul div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
}
.hiddenMenu {
  padding: 0 6px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.typicalBtn {
  background: lightgreen;
  height: 54px;
  min-width: 54px;
  border: 1px solid green;
  border-radius: 3px;
  color: #404040;
  margin: 4px 4px 16px 4px;
  padding: 5px 25px 5px 25px;
  cursor: pointer;
  font-weight: 900;
}
.typicalBtn:hover {
  background: #65e765;
  border: 1px solid darkgreen;
  color: #fff;
}

@keyframes moveDown {
  0% {
    margin-top: 40px;
  }
  100% {
    margin-top: 240px;
  }
}
@keyframes moveUlDown {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0;
  }
}
.correction {
  animation: moveUlDown 0.7s linear forwards;
  display: flex;
}
.Collapse {
  animation: moveDown 0.7s linear forwards;
}
.hidden {
  color: darken(rgb(217, 217, 217), 5%);
  background: darken(rgb(217, 217, 217), 5%);
  height: 240px;
  width: 100%;
  margin-top: -200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hidden2 {
  background: #26292c;
  color: #26292c;
  height: 240px;
  width: 100%;
  margin-top: -200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
@keyframes moveHiddenMoved {
  0% {
    margin-top: -240px;
  }
  100% {
    margin-top: -40px;
  }
}
@keyframes up {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: -200px;
  }
}
.upIt {
  animation: up 0.7s linear forwards;
}
.hiddenmoved {
  animation: moveHiddenMoved 0.7s linear forwards;
}
.CenterText {
  display: flex;
  margin-bottom: 4px;
  text-align: center;
  position: relative;
  z-index: 9;
}
@media (max-width: 999px) {
  .leftMenu {
    margin-left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .middleMenu {
    display: none;
  }
  .rightMenu {
    display: none;
  }
  nav {
    flex-wrap: wrap;
  }
  .correction {
    height: 200px;
    opacity: 0.8;
  }
  ul li {
    height: 26px;
  }
}
@media (min-width: 1000px) {
  .smallNav {
    display: none;
  }
  .Collapse {
    animation: "";
  }
  .correction {
    animation: "";
    height: 240px;
  }
}
$back1: 1.9%;
$back2: 1.8%;
$back3: 1.9%;
$back4: 2%;
$back5: 2.1%;

.Submenu {
  width: 100%;
  margin-top: 180px;
  margin-right: 14px;
  animation: dropDown 0.5s linear forwards;
  background: darken(rgba(38, 41, 44, 1), 9%);
  opacity: 0.7;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 0 0 0 10px;
}
.Submenu2 {
  width: 100%;
  margin-top: 180px;
  margin-right: 14px;
  animation: dropDown 0.5s linear forwards;
  background: lighten(rgb(217, 217, 217), 9%);
  opacity: 0.7;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 0 0 0 10px;
}
.hideIt {
  display: none;
}
.mainSubmenu {
  display: flex;
  flex-direction: column;
  color: #252525;
  justify-content: flex-end;
  margin-top: 10px;
}
.mainSubmenu2 {
  display: flex;
  flex-direction: column;
  color: #d9d9d9;
  justify-content: flex-end;
}
.mainSubmenu li {
  display: flex;
  justify-content: flex-end;
  padding-right: 6px;
  cursor: pointer;
}
.mainSubmenu2 li {
  display: flex;
  justify-content: flex-end;
  padding: 2px 6px 2px 6px;

  cursor: pointer;
}
.mainSubmenu li a {
  text-decoration: none;
  color: #252525;
  &:hover {
    color: black !important;
  }
  &:visited {
    color: #252525;
  }
  &:focus {
    color: #252525;
  }
  &:active {
    color: #252525;
  }
}
.mainSubmenu2 li a {
  text-decoration: none;
  color: #d9d9d9;
  &:hover {
    color: white !important;
  }
  &:visited {
    color: #d9d9d9;
  }
  &:focus {
    color: #d9d9d9;
  }
  &:active {
    color: #d9d9d9;
  }
}

.closePanel {
  font-size: 2em;
  padding: 0px 0px 20px 10px;
}

@keyframes dropRight {
  0% {
    width: 0;
  }
  100% {
    width: 200px;
  }
}
.miniSubmenu {
  height: 100%;
  padding: 0 6px 0 0;
  animation: dropRight 0.5s linear forwards;
  background: darken(rgba(38, 41, 44, 1), 15%);
  opacity: 0.75;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 0 0 10px 0;
}
.miniSubmenu2 {
  height: 100%;
  padding: 0 6px 0 0;
  animation: dropRight 0.5s linear forwards;
  background: darken(rgb(217, 217, 217), 15%);
  opacity: 0.75;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 0 0 10px 0;
}
.hideIt {
  display: none;
}
.mainMiniSubmenu {
  display: flex;
  flex-direction: column;
  color: #252525;
  justify-content: flex-end;
  margin-top: 10px;
}
.mainMiniSubmenu2 {
  display: flex;
  flex-direction: column;
  color: #d9d9d9;
  justify-content: flex-end;
}
.mainMiniSubmenu li {
  display: flex;
  justify-content: flex-end;
  padding-right: 6px;
  cursor: pointer;
  &:hover {
    color: black;
  }
}
.mainMiniSubmenu2 li {
  display: flex;
  justify-content: flex-end;
  padding: 2px 6px 2px 6px;

  cursor: pointer;
  &:hover {
    color: white;
  }
}
.mainMiniSubmenu li a {
  text-decoration: none;
  color: #252525;
  &:hover {
    color: black !important;
  }
  &:visited {
    color: #252525;
  }
  &:focus {
    color: #252525;
  }
  &:active {
    color: #252525;
  }
}
.mainMiniSubmenu2 li a {
  text-decoration: none;
  color: #d9d9d9;
  &:hover {
    color: white !important;
  }
  &:visited {
    color: #d9d9d9;
  }
  &:focus {
    color: #d9d9d9;
  }
  &:active {
    color: #d9d9d9;
  }
}
.closeMiniPanel {
  font-size: 2em;
  padding: 0px 0px 20px 10px;
}
.switch {
  font-size: 1.5em;
  color: #252525;
  cursor: pointer;
  &:hover {
    color: black;
  }
}
.switch2 {
  font-size: 1.5em;
  color: #d9d9d9;
  cursor: pointer;
  &:hover {
    color: white;
  }
}
.menuIcon {
  cursor: pointer;
  color: white;
}
