.ContainerLogout {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.goodbyeText{
    display: flex;
}
.goodbyeImg {
    display: flex;
    height: 20%;
    width: 20%;
    border-radius: 5px;
    border: 2px solid black;
}