$white: #ffffff;
$black: #000000;
$lightBlack: rgba(0, 0, 0, 0.7);
.header {
  position: fixed;
  right: 0;
  left: 0;
}
.globalNav {
  background-color: black;
}
.link {
  color: $white;
}
.link:hover {
  box-shadow: inset 0px -2px 0px 0px $white;
  color: $white !important;
}
.linkActive {
  box-shadow: inset 0px -3px 0px 0px $white !important;
}
.subLink {
  color: $white;
  background-color: $lightBlack;
}
.subLink:first-child {
  border-radius: 5px 5px 0 0;
}
.subLink:last-child {
  border-radius: 0 0 5px 5px;
}
.subLink:hover {
  color: $white;
  background-color: $black;
}
.subLinkActive {
  background-color: $black !important;
}
.dropDown {
  color: $white;
  cursor: pointer;
  position: relative;
}
.subPages {
  position: absolute;
  top: 25px;
  right: 0px;
  border-radius: 5px;
}

@mixin hamburger-default {
  cursor: pointer;
  position: fixed;
  top: 100px;
  animation-duration: 0.5s;
  z-index: 1000;
}

@media only screen and (max-width: 365px) {
  .hamburger {
    left: 2px;
    animation-name: hideCloseXS;
    @include hamburger-default;
  }
  .hamburgerOpen {
    left: 300px;
    animation-name: showCloseXS;
    @include hamburger-default;
  }

  @keyframes showCloseXS {
    0% {
      left: 2px;
    }
    100% {
      left: 300px;
    }
  }

  @keyframes hideCloseXS {
    0% {
      left: 300px;
    }
    100% {
      left: 2px;
    }
  }
}

@media only screen and (min-width: 366px) and (max-width: 399px) {
  .hamburger {
    left: 2px;
    animation-name: hideCloseSM;
    @include hamburger-default;
  }
  .hamburgerOpen {
    left: 340px;
    animation-name: showCloseSM;
    @include hamburger-default;
  }

  @keyframes showCloseSM {
    0% {
      left: 2px;
    }
    100% {
      left: 340px;
    }
  }

  @keyframes hideCloseSM {
    0% {
      left: 340px;
    }
    100% {
      left: 2px;
    }
  }
}

@media only screen and (min-width: 400px) {
  .hamburger {
    left: 2px;
    animation-name: hideClose;
    @include hamburger-default;
  }
  .hamburgerOpen {
    left: 340px;
    animation-name: showClose;
    @include hamburger-default;
  }

  @keyframes showClose {
    0% {
      left: 2px;
    }
    100% {
      left: 340px;
    }
  }

  @keyframes hideClose {
    0% {
      left: 340px;
    }
    100% {
      left: 2px;
    }
  }
}

.appear {
  animation-name: appear;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dNone {
  display: none;
}
